:root {
  --background-color: rgb(59, 70, 100);
  --text-color: white;
  --background-input: hsl(224, 35%, 15%);
  --d-r-color: hsl(225, 53%, 76%);
  --background-number: hsl(32, 26%, 89%);
  --number-color: hsl(218, 17%, 29%);
  --bg-color-button: hsl(224, 35%, 15%);
  --bg-color-dr: white;
  --bg-assign: hsl(6, 93%, 67%);
  --color-hover: white;
  --color-assign-text: white;
}

body {
  background-color: var(--background-color);
  font-family: "League Spartan", sans-serif;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 32px;
}

main .name-app {
  font-size: 30px;
}

/* main .top {
  color: white;
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
} */

/* p {
  color: white;
  display: flex;
  justify-content: center;
} */

main .header-select {
  display: flex;
}

input[type="radio"]:checked {
  opacity: 100;
}

input[type="radio"] {
  opacity: 0;
}

input[type="radio"]:after {
  width: 10px;
  height: 12px;
  border-radius: 15px;
  top: -10px;

  position: relative;
  background-color: hsl(6, 62%, 50%);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid hsl(6, 62%, 50%);
}

input[type="radio"]:checked:after {
  width: 10px;
  height: 12px;
  border-radius: 15px;
  top: -9px;
  position: relative;
  background-color: hsl(6, 62%, 50%);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid hsl(6, 62%, 50%);
}

.container {
  padding-top: 40px;
}

.slider-component {
  width: 10px;
  height: 10px;
  margin-left: -3px;
}

main .container > div {
  display: flex;
  justify-content: center;
}

main .section-header .theme-info {
  margin-right: 20px;
  display: inline-block;
}

main .section-header .number-theme {
  margin-left: 80px;
}

main .section-header .number-selection-theme {
  border: 2px solid hsl(225, 30%, 22%);
  /* display: block; */
  padding-top: 0px;
  margin-left: 60px;
  border-radius: 20px;
  /* padding-right: 2px; */
  padding-left: 6px;
  height: 15px;
  width: 40px;
  padding-bottom: 1px;
  background-color: hsl(225, 30%, 22%);
}

main .slider-component {
  padding-top: 100px;
}

main .section-header > div {
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  color: var(--text-color);
}

main .input-button {
  background-color: var(--bg-color-button);
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

section .input-section > input {
  display: flex;
  justify-content: center;
}

.grid-button {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  padding-top: 20px;
}

.grid-button :hover {
  background-color: var(--color-hover);
}

main .mid-section .delete {
  background-color: var(--d-r-color);
  color: var(--bg-color-dr);
}

.grid-bottom {
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 5px;
  padding-top: 20px;
}

.grid-item {
  color: var(--number-color);
  background-color: var(--background-number);
  padding: 10px;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  border: 0;
  border-radius: 10px;
  /* box-shadow: 5px 5px 2px black; */
}

.grid-item-buttom {
  color: hsl(221, 14%, 31%);
  padding: 10px;
  margin-top: -10px;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  border: 0;
  border-radius: 10px;
}

input {
  width: 340px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--background-input);
  outline: none;
  text-align: right;
  color: var(--text-color);
  box-shadow: none;
}

.reset-button {
  background-color: var(--d-r-color);
  color: var(--bg-color-dr);
}

.operator-button {
  background-color: var(--bg-assign);
  color: var(--color-assign-text);
}
